<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
</head>
<body>
<p>It is configuration page</p>



    <form method="post" th:action="@{/users/{id}/configure(id=${conf.getId()})}" th:object="${conf}">
        nameHiding: <input type="checkbox" th:checked="${conf.nameHiding}">  <!--th:filed="*{nameHiding}"--><br>
        favHiding: <input type="checkbox" th:checked="${conf.favHiding}"> <!--th:filed="*{favHiding}" --><br>
        subHiding: <input type="checkbox" th:checked="${conf.subHiding}"> <!--th:filed="*{subHiding}"--><br>
        <button type="submit">Configure</button>

    </form>


</body>
</html>